html {color:#000; background:#fff; width:100%; height:100%; margin:0; padding:0;}
body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,
code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img {margin: 0; padding: 0;}
table {border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,var {font-style: normal; font-weight: normal;}
/*caption,th{text-align:left;}*/
h1,h2,h3,h4,h5,h6 {font-size: 100%; font-weight: normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0; font-variant: normal;}
/* to preserve line-height and selector appearance */
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input,textarea,select {font-family: inherit; font-size: inherit; font-weight: inherit;}
/*to enable resizing for IE*/
input,textarea,select {*font-size: 100%;}
/*because legend doesn't inherit in IE */
legend {color: #000;}

/************ STYLE ****************/

body {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #353535;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	position: relative;
	background: none;
}

a {
	color: #06b1f1;
	outline: 0;
	text-decoration: underline;
}

a:hover {color: #f15f10;}

div.center div.content p {margin-top: 3px;margin-bottom: 20px;}

.hide {
	display: none;
}
.clear {
	float: none;
	clear: both;
}

/************ HEADER ****************/

.head_out {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 86px;
	border-bottom: 1px solid #ccc;
}

.head {
	position: relative;
	height: 144px;
}

.order_page div.head {height: 86px;line-height: 18px;}

div.head h1 {margin: 0;}

.logo {
	position: absolute;
	top: 24px;
	left: 0px;
}

img.logo_small {
	position: absolute;
	top: 19px;
	left: 0px;
}
.logo .discript {
	margin-top: 5px;
}
.logo .discript a {
	text-decoration: none;
	border-bottom: 1px dotted #06b1f1;
}

.logo .discript a:hover {
	border-bottom: 1px dotted #f15f10;
}

.order_page img.logo {top: 13px;left: 0;}

.top_block {
	position: relative;
	height: 101px;
}

.head_visa {
	position: absolute;
	top: 37px;
	left: 415px;
	line-height: 15px;
	font-size: 12px;
}
.head_visa img {
	margin: 2px 8px 0 0;
	float: left;	
}

.head_address {
	position: absolute;
	top: 24px;
	right: 0px;
	line-height: 20px;
	font-size: 16px;
	text-align: right;
}

.head_address .phone {
	margin: 0 0 5px 0px;
	line-height: 24px;
	font-size: 22px;
	font-weight: bold;
	color: #67961d;
}

.head_action {
	position: absolute;
	top: 7px;
	right: 24px;
}

.top_menu {
	position: fixed;
	top: 101px;
	left: 0;
	width: 100%;
	height: 43px;
	line-height: 20px;
	font-size: 16px;
	background: #fff url('../pix/topmenu_bg.png') repeat-x 0 100%;
	z-index: 3000;
}

.top_menu .block_inner {position: relative;margin: 0 auto;width: 1000px;}

.head_basket {
	float: left;
	padding: 0 0 0 11px;
	width: 186px;
	height: 43px;
	line-height: 41px;
	color: #fff;
	background: #5f5f5f;
}

.head_basket a {color: #fff;text-decoration: none;background: url('../pix/dash3.gif') repeat-x 0 100%;}

.head_basket .sum {
	float: right;
	width: 83px;
	height: 43px;
	text-align: center;
	background: #588413;
}

.popup_basket {
	z-index: 9999;
	position: absolute;
	/*top: 73px;*/
	top: -200px;
	left: -30px;
	padding: 20px 140px 19px 27px;
	width: 559px;
	line-height: 20px;
	font-size: 16px;
	color: #353535;
	border: 3px solid #c6c6c6;
	background: #fff;
	box-shadow: 0 6px 8px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 6px 8px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}

.popup_basket .corn {position: absolute;top: -28px;left: 261px;width: 30px;height: 28px;background: url('../pix/corn.png') no-repeat 0 0;}
.popup_basket .item_block {padding: 0 0 0 70px;background: url('../pix/icon_tick.png') no-repeat 0 0;}
.popup_basket .title {display: block;margin: 0 0 7px;font-size: 26px;font-weight: bold;}
.popup_basket .price {position: absolute;top: 32px;right: 19px;font-size: 32px;color: #737373;}

.top_menu ul {
	float: left;
	margin: 0 0 0 100px;
	padding: 0;
}

.top_menu ul li {
	float: left;
	list-style-type: none;
	margin: 0;
	font-size: 14px;
	padding: 0 23px 0 5px;
	height: 43px;
	line-height: 40px;
	/*background: url('../pix/topmenu_sp.png') no-repeat 100% 50%;*/
}

.top_menu ul li.last {background: none;}

.top_menu ul li a {
	float: left;
	color: #fff;
}

.top_menu ul li.active a {color: #dfd873;text-decoration: none;}

.top_menu ul li.active_pizza a {color: #dfd873;text-decoration: underline;}

.logout_link {
	position: absolute;
	top: 10px;
	right: 0;
	padding-left: 12px;
	width: 145px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	/*background: url('../pix/icon_logout.png') no-repeat 0 1px;*/
}

.logout_profile_link {
	width: 145px;
	font-size: 14px;
	white-space: nowrap;
}

.logout_link .sh {position: absolute;top: 0;right: 0;width: 40px;height: 20px;background: url('../pix/sh.png') repeat-y 0 0;}

.head_title {
	position: absolute;
	top: 13px;
	left: 250px;
}

.head_title h1 {margin-bottom: 1px !important;}
.head_title .back_link {padding-left: 18px;background: url('../pix/icon_back.png') no-repeat 1px 3px;}

.profile_link {
	position: absolute;
	top: 16px;
	right: 0;
	padding: 5px 10px 6px 37px;
	color: #fff;
	background: #9a9a9a url('../pix/icon_logout.png') no-repeat 10px 5px;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
}

.profile_link a {color: #fff;}

/************ ������ ****************/

.main {
	position: relative;
	padding: 0;
	/*min-height:100%;
	height:auto !important;
	height:100%;*/
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

div.inner {
	min-height:100%;
	height:auto !important;
	height:100%;
}

div.center {
	float: left;
	width: 100%;
	/*overflow: hidden;
	position: relative;*/
	z-index: 1;
}

div.center div.content {
	margin: 0 0 5px;
	padding: 1px 0 259px 0;
	/*position: relative;*/
	line-height: 1.43em;
}

.order_page div.center div.content {padding: 35px 0 250px 0;}

div.sidebar_left {
	float: left;
	width: 277px;
	margin-top: 20px;
	margin-left: -100%;
	padding: 0px 0px 20px 17px;
	line-height: 18px;
	position: relative;
	z-index: 15;
}

div.sidebar_right {
	float: left;
	width: 329px;
	margin-top: 56px;
	margin-left: -370px;
	padding: 0 31px 36px 0;
	position: relative;
	z-index: 15;
	line-height: 18px;
}

    .empty {height:298px;}
    .clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
    .clear {display: inline-block;}
    .clear {display: block;}

/************ CONTENT ****************/

input.stext {
	padding: 0 4px;
	height: 26px;
	line-height: 26px;
	border-top: 1px solid #bdbdbd;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #dedede;
	background: #fff;
}

input.error_field {
	border-top: 1px solid #e97f7f;
	border-right: 1px solid #f4bfbf;
	border-bottom: 1px solid #f4bfbf;
	border-left: 1px solid #f4bfbf;
}

textarea {
	padding: 0 4px;
	border: 1px solid #cfcfcf;
	background: #fff;
	overflow: auto;
	resize: vertical;
}

.btn {
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: #8c825c;
	border: 0;
	background: #f2f0d4 url('../pix/btn_bg.png') repeat-x 0 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}
.btnTransp, .btnTransp img {
	border: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow: visible;
}
.btnTransp img {
	display: block;
}
.btn_big {
	padding: 0 10px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 22px;
	color: #8c825c;
	border: 0;
	background: #f2f0d4 url('../pix/btn_big_bg.png') repeat-x 0 100%;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}

.gray_notice {font-size: 12px;font-style: italic;color: #9a9a9a;}
.error_notice {font-size: 12px;font-style: italic;color: #d50808;}

.dashed { text-decoration: none; /*background: url('../pix/dash.gif') repeat-x 0 100%;*/ border-bottom: 1px dashed #06b1f1; }
.dashed:hover { border-bottom: 1px dashed #f15f10; }

.banner_block {
	margin-bottom: 55px;
}

.banner_block1 {
	position: relative;
	margin-left: 4px;
	margin-top: 25px;
	margin-bottom: 115px;
	width: 1000px;
	height: 400px;
}

.banner_block2 {
	position: relative;
	margin-left: 4px;
	margin-top: 25px;
	width: 1000px;
	height: 400px;
}

.promo_block {
	/*position: relative;
	margin: 0 0 0 -20px;
	width: 1000px;*/
	height: 550px;
}

.promo_block .promo_pic {
	margin: 42px 0 0 152px;
}

.promo_block .block_title {
	position: absolute;
	top: 10px;
	left: 0;
	line-height: 44px;
	font-size: 40px;
	color: #f15f10;
}

.promo_block .promo_text {
	position: absolute;
	line-height: 22px;
	font-size: 13px;
	font-style: italic;
	color: #737373;
}

.promo_block .promo_text1 {top: 299px;left: 6px;}
.promo_block .promo_text2 {top: 25px;left: 653px;line-height: 20px;}
.promo_block .promo_text3 {top: 160px;left: 756px;line-height: 20px;}
.promo_block .promo_text4 {top: 318px;left: 686px;}

.promo_block .promo_text .title {
	display: block;
	margin-bottom: 2px;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
}

/************ Responses ****************/

.responses_block {
	background: #f2f0d4;
	/*margin: 0 0 22px -20px;
	width: 1000px;*/
}

.responses_block .responses_bg {
	position: absolute;
	left: 0;
	width: 100%;
	height: 320px;
	
}

.responses_block .block_inner {position: relative;padding: 36px 0 48px;}

.responses_block .block_title {
	display: block;
	line-height: 28px;
	font-size: 26px;
	font-weight: bold;
}

.responses_block ul {
	margin: 40px 0 0;
	padding: 0;
}

.responses_block ul li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 22px;
	width: 50%;
}

.responses_block ul li .entry {float: left;margin: 0 20px 0 0;padding: 0 10px 0 0;border-right: 1px solid #cfcfcf;width: 325px;}
.responses_block ul li .entry p {margin-bottom: 22px;}
.responses_block ul li .star_rating_block {margin: 0 0 14px 1px;}
.responses_block ul li .star_rating_block img {float: left;margin-right: 1px;}
.responses_block ul li .author_info {float: left;}
.responses_block ul li .userpic {display: block;margin: 0 0 4px;width: 32px;border: 3px solid #cfcfcf;}
.responses_block ul li .userpic img {display: block;border: 1px solid #fff;}
.responses_block ul li .username {font-family: Georgia, Times New Roman Times, Serif;color: #3a8c9e;}
.responses_block ul li .user_rating {padding-left: 22px;font-family: Georgia, Times New Roman Times, Serif;color: #e6993e;background: url('../pix/crown.png') no-repeat 7px 3px;}

/************ Products List ****************/

.prods_list {margin: 13px auto;}

.intro_block {margin: 12px 0 52px;padding: 26px 20px 8px;line-height: 22px;font-style: italic;color: #a2806d;background: #f2f0d4;border-radius: 20px;-moz-border-radius: 20px;-webkit-border-radius: 20px;}
.catalog_descr {margin: 16px 30px 36px;line-height: 22px;text-align: center;font-style: italic;color: #ee2d24;}

.prods_list ul {
	margin: 36px 0 0;
	padding: 0;
}

.prods_list ul li {
	float: left;
	position: relative;
	list-style-type: none;
	margin: 0 40px 16px 0;
	padding: 0;
	width: 460px;
	min-height: 443px;
	line-height: 20px;
}

.prods_list ul li.first {clear: left;}
.prods_list ul li.last {margin-right: 0;}

.prods_list ul li .pic {display: block;margin: 0 0 16px;}
.prods_list ul li .title {display: block;margin: 0 0 4px;max-width: 245px;line-height: 24px;font-size: 22px;font-weight: bold;}
.prods_list ul li .prod_info {margin: 0 0 13px;color: #737373;}

.buy_block {float: right;margin: 4px 0 0;padding: 8px 10px 4px 11px;line-height: 22px;font-size: 18px;color: #fff;background: #ee2d24;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;}
.buy_block_added {color: #8c825c;background: #f2f0d4;}
.buy_block a {color: #fff;text-decoration: none;}
.buy_block_added a {color: #8c825c;}
.buy_block .price {float: left;padding: 1px 0 2px 0;font-size: 26px;font-weight: bold;}
.buy_block .price .rub {display: inline-block;margin-left: 9px;width: 16px;height: 19px;background: url('../pix/rub3.png') no-repeat 0 0;}
.buy_block_added .price .rub {background: url('../pix/rub4.png') no-repeat 0 0;}
.buy_block .buy_btn {float: right;margin: 0 0 0 9px;padding: 0 0 0 11px;background: url('../pix/buy_block_sp.png') no-repeat 0 0;}
.buy_block .buy_btn span {display: block;margin: -3px 0 -3px;line-height: 11px; font-size: 11px;}
.buy_block .qty_block {float: left;margin: 0 0 0 9px;padding: 0 0 5px 11px;line-height: 20px;background: url('../pix/buy_block_sp2.png') no-repeat 0 0;}
.buy_block .qty_block .minus {display: inline-block;margin: 2px 5px 0 9px;width: 10px;height: 13px;background: url('../pix/qty_arrs.png') no-repeat 0 0;}
.buy_block .qty_block .plus {display: inline-block;margin: 2px 1px 0 5px;width: 10px;height: 13px;background: url('../pix/qty_arrs.png') no-repeat -30px 0;}

.composition {margin: 15px 0 21px;padding: 0;font-size: 11px;}
.composition table {}
.composition table td {padding: 3px 9px 3px 0;width: 160px;}
.composition table td img {vertical-align: -9px;margin-right: 4px;}

.sauce_block .pic {float: left;margin: 0 0 0 4px;}
.sauce_block .col_right {float: right;margin: -5px 10px 0 0;width: 380px;line-height: 22px;font-size: 16px;}

ul.radio_list {
	margin: 21px 0 0;
	padding: 0;
}

.prods_list ul.radio_list {margin: 15px 0 0;}

ul.radio_list li {
	float: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height: 0;
	line-height: 20px;
	font-size: 14px;
	color: #737373;
}

.radio_list li input {vertical-align: -1px;margin-right: 3px;}

.sauce_block .buy_block {float: left;margin: 18px 0 0;}

.actions_block {margin: 50px 0 46px;}
.actions_block .col1, .actions_block .col2, .actions_block .col3 {float: left;margin-right: 20px;}
.actions_block .col1 {width: 255px;}
.actions_block .col2 {width: 330px;}
.actions_block .col3 {width: 315px;margin-right: 0;}
.actions_block h4 {margin-bottom: 25px;line-height: 28px;}
.actions_block .payback_block {margin: 19px 0 0;line-height: 18px;}
.actions_block .payback_block img {float: left;margin: 3px 11px 0 0;}
.actions_block .payback_block .percents {display: block;margin-bottom: -3px;line-height: 34px;font-size: 30px;font-weight: bold;}
.actions_block .introtext {margin: -7px 0 0 0px;line-height: 24px;font-size: 16px;}
.actions_block .introtext .mdash {float: left;margin-left: -30px;}
.actions_block .pic {float: left;margin: -9px 17px 0 0;}

.group_actions .h1_title {margin-bottom: 3px;}
.group_actions .introtext {margin: 0 0 40px;line-height: 34px;font-size: 22px;}

.group_actions ul {
	margin: 0;
	padding: 0;
}

.group_actions ul li {
	float: left;
	list-style-type: none;
	margin: 0 30px 47px 0;
	padding: 0;
	width: 300px;
	font-family: Myriad Pro, Arial, Helvetica, Sans-serif;
	color: #737373;
}

.group_actions ul li.first {clear: left;}
.group_actions ul li.last {margin-right: 0;}

.group_actions ul li .pic {float: left;margin: 0 20px 0 0; margin-bottom: 20px;}
.group_actions ul li .title {display: block;margin: 1px 0 5px;font-size: 20px;color: #353535;}

/************ Order ****************/

.basket_table {margin: 0 0 36px;width: 100%;line-height: 20px;}
.basket_table th {padding: 0 0 12px;text-align: left;font-size: 12px;font-weight: bold;color: #737373;border-bottom: 3px solid #cfcfcf;white-space: nowrap;}
.basket_table td {padding: 2px 5px 2px 0;font-size: 16px;border-bottom: 1px solid #cfcfcf;}
.basket_table .first td {padding-top: 1px;}

.basket_table td.col_pic {width: 44px;}
.basket_table td.col_qty {width: 153px;}
.basket_table td.col_price {width: 94px;}
.basket_table td.col_sum {width: 106px;}
.basket_table td.col_sum2 {width: 63px;}

.basket_table td.col_pic img {float: left;}
.basket_table td .minus {display: inline-block;vertical-align: middle;margin: 0 12px 0 0;width: 17px;height: 20px;background: url('../pix/qty_arrs2.png') no-repeat 0 0;}
.basket_table tr:hover td .minus {background-position: 0 -20px;}
.basket_table td .plus {display: inline-block;vertical-align: middle;margin: 0 0 0 10px;width: 17px;height: 20px;background: url('../pix/qty_arrs2.png') no-repeat -17px 0;}
.basket_table tr:hover td .plus {background-position: -17px -20px;}
.basket_table td .qty_row {display: inline-block;vertical-align: middle; height: 20px;line-height: 20px;}

.order_summary {margin: 0 0 45px;font-size: 16px;color: #9a9a9a;}
.order_summary .discount_summary {margin: 5px 0 0;font-size: 22px;color: #353535;}

.bonus_summary {margin: 0 0 55px;font-size: 16px;}
.bonus_summary .col_left {float: left;width: 500px;}
.bonus_summary .col_right {float: right;margin: 3px 0 0;padding: 30px 32px 36px 30px;font-size: 32px;background: #f2f0d4;}

.bonus_summary .title {display: block;margin: 0 0 12px;font-size: 18px;}
.bonus_summary .stext, .order_bonuses .stext {vertical-align: -2px;margin: 0 21px 0 7px; /*width: 105px;*/}
.bonus_summary .btn {vertical-align: middle; /*width: 132px;*/ }
.order_bonuses .btn {vertical-align: middle; padding: 0; /*width: 132px;*/ }
.bonus_summary .gray_notice {display: block;margin: 11px 0 0;}

.order_bonuses {margin: 0 0 38px;}
.order_bonuses H4 { margin: 0 0 17px; }
.order_bonuses ul {
	margin: 0;
	padding: 0;
}

.order_bonuses ul li {
	float: left;
	list-style-type: none;
	padding: 0;
	font-size: 12px;
	color: #737373;
}
.order_bonuses ul li.small {
	margin: 0 40px 20px 0;
	width: 245px;
}
.order_bonuses ul li:nth-child(3), .order_bonuses ul li.big {
	padding: 0 0 0 57px;
	width: 187px;
}

.order_bonuses ul li img {float: left;}
.order_bonuses ul li img.circle {
	behavior: url(css/PIE.htc);
	/*border-radius: 22px;
	position: relative;
	z-index: 0;*/
}
.order_bonuses ul li div {
	margin-left: 53px;
	margin-top: 8px;
	line-height: 17px;
}
.order_bonuses ul li select {
	padding: 3px 4px 4px 2px;
	margin: 0;
	font-size: 14px;
}
.order_bonuses ul li .title a {
	text-decoration: none;
	border-bottom: 1px dashed #06b1f1;
}
.order_bonuses ul li .title a:hover {
	border-bottom: 1px dashed #f15f10;
}

.order_bonuses ul li .title {
	display: block;
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 19px;
}
.order_bonuses ul li .promocode_form { margin: 8px 0 0 0; }
.order_bonuses ul li .promocode_form label {
	font-size: 14px;
}
.order_bonuses ul li .promocode_form .error_notice {
	margin: 5px 0 0 93px;
}
.order_bonuses ul li .promocode_form .change_selection {
	margin: 8px 0 0 0px;
}
.order_bonuses ul li .promocode_form .change_selection a {
	color: #737373;
	border-bottom: 1px dotted #737373;
	text-decoration: none;	
}
.order_bonuses ul li .promocode_form .green {
	color: #1e8d13;
	font-size: 14px;
	margin: 13px 0 13px 0;
}
.order_bonuses ul li .stext {
	vertical-align: -1px;
	margin: 0 10px 0 4px;
	width: 104px;
}
.order_bonuses ul li .btn {vertical-align: middle; /*width: 132px;*/ }

.order_bonuses {margin: 0 0 38px;}

.order_bonuses ul {
	margin: 0;
	padding: 0;
}

.order_bonuses ul li {
	float: left;
	list-style-type: none;
	margin: 0 80px 20px 0;
	padding: 0 0 0 53px;
	width: 347px;
	font-size: 12px;
	color: #737373;
}

.order_bonuses ul li.first {clear: left;}

.order_bonuses ul li .pic {float: left;margin: 0 0 0 -53px;}

.order_bonuses ul li .title {display: block;margin: 7px 0 2px;font-size: 18px;}
.order_bonuses ul li .promocode_form {margin: 15px 0 0 42px;}
.order_bonuses ul li .stext {vertical-align: -1px;margin: 0 10px 0 7px;width: 124px;}
.order_bonuses ul li .btn {vertical-align: middle;width: 132px;}


.delivery_form h4 {margin: 0 0 22px;}
.delivery_form dt {clear: left;float: left;margin: 3px 18px 0 0;width: 110px;}
.delivery_form dd {float: left;margin: 0 0 12px;width: 832px;}
.delivery_form dd.address_row {margin-bottom: 18px;}
.delivery_form dd.payment_row {margin-bottom: 14px;}

.delivery_form .stext {vertical-align: middle;margin: 0 9px 0 0;width: 215px;}
.delivery_form textarea {margin-bottom: 3px;width: 396px;height: 87px;}
.delivery_form .gray_notice {line-height: 18px;}

.radio_block {margin: 0px 0 0;}
.radio_block label {vertical-align: middle;padding-right: 17px;}
.radio_block input {vertical-align: -1px;margin: 0 3px 0 -1px;}

.delivery_form .select_time {display: inline-block;vertical-align: middle;margin: -2px 0 0 -16px;}
.delivery_form .select_time select {vertical-align: middle;margin: 0 2px;height: 26px;color: #353535;}

.errors_block {color: #d50808;}
.delivery_form .errors_block {margin: 42px 0 0;}
.errors_block .block_title {display: block;margin: 0 0 9px;font-size: 16px;font-weight: bold;}

.errors_block ul {
	margin: 0;
	padding: 0;
}

.errors_block ul li {
	list-style-type: none;
	margin: 0 0 2px;
	padding: 0;
	font-size: 12px;
	font-style: italic;
}

.delivery_form .btn_big {margin: 36px 0 0;width: 198px;}

.order_notice {margin: 19px 0 50px;line-height: 30px;font-size: 22px;}
.order_payment {margin-bottom: 44px;text-align: center;}
.order_payment .btn_big {margin: 25px 5px 0;width: 198px;}

/********* Profile *********/

.profile_page_block {padding: 6px 0 0;}

.profile_page_block .userinfo {
	margin: 0 0 52px;
	font-size: 16px;
	position: relative;
}
.profile_page_block .userinfo .col_left {float: left;width: 300px;}
.profile_page_block .userinfo .col_right {
	padding: 5px 28px 12px 11px;
	width: 205px;
	font-size: 52px;
	background: #f2f0d4;
	position: absolute;
	right: 0;
	bottom: -5px;
}
.profile_page_block .userinfo .col_right .title {
	display: block;
	margin: 0 0 11px;
	line-height: 32px;
	font-size: 28px;
	color: #737373;
}
.profile_page_block .userinfo .col_right img {
	vertical-align: -11px;
	margin: 0 7px 0 1px;
	width: 57px;
}
.profile_page_block .userinfo .surprize {
	padding: 7px 8px 8px 8px;
	margin-right: 34px;
	width: 231px;
	font-size: 52px;
	background: #f2f0d4;
	position: absolute;
	right: 230px;
	bottom: -5px;
}
.profile_page_block .userinfo .surprize img {
	float: left;
	margin-right: 19px;
}
.profile_page_block .userinfo .surprize div {
	font-size: 24px;
	line-height: 32px;
	margin-top: 20px
}

.profile_page_block .userinfo h1 {margin-bottom: 37px;}
.profile_page_block .h1_title {margin-bottom: 37px;}
.profile_page_block .userinfo .username {margin: 0 0 15px;font-size: 22px;font-weight: bold;}
.profile_page_block .userinfo .phone {margin: 0 0 16px;font-size: 22px;}
.profile_page_block .userinfo .phone span {display: block;margin: 0 0 5px;font-size: 12px;color: #737373;}

.order_item {margin: 0 0 2px;font-size: 16px;}
.order_item .col_left {float: left;}
.order_item .col_right {float: right;margin: 2px 0 0;width: 300px;text-align: right;}

.order_item h4 {margin-bottom: 15px;}
.order_item .delivery_status {padding: 3px 0 5px 28px;color: #1e8d13;background: url('../pix/icon_tick_small.png') no-repeat 0 0;}
.order_item .scores {margin: 0 0 -1px;line-height: 32px;text-align: right;}
.order_item .scores img {vertical-align: -3px;margin-right: -1px;}

/********* Popup *********/

.layout {
	display: none;
	position: fixed;
	z-index: 80;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('../pix/tr.png') repeat 0 0;
	cursor: pointer;
}


.waiting {
	display: none;
	position: fixed;
	z-index: 200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.popup {
	display: none;
	position: fixed;
	top: 308px;
	left: 112px;
    width: 784px;
    line-height: 20px;
	border: 3px solid #c6c6c6;
	background: #fff;
	box-shadow: 0 6px 8px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 6px 8px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 6px 8px rgba(0,0,0,0.2);
	z-index: 999;
}

.prod_popup {width: 540px;}

.popup .close {
	position: absolute;
    top: 10px;
    right: 10px;
    width: 19px;
    height: 19px;
    background: url('../pix/close.png') no-repeat 0 0;
    z-index: 60;
}



.popup .block_inner {padding: 30px 30px 14px;}

.order_popup {
	z-index: 9999;
}

.order_popup .nav_links {margin: 0 0 31px;line-height: 24px;font-size: 20px;font-weight: bold;}
.order_popup .nav_links .link_left {float: left;padding: 0 0 4px 24px;background: url('../pix/arr_left.png') no-repeat 0 0;}
.order_popup .nav_links .link_right {float: right;padding: 0 30px 4px 0;background: url('../pix/arr_right.png') no-repeat 100% 0;}

.order_popup .basket_panel {margin: 0 0 14px;max-height: 195px;overflow: auto;}
.order_popup .basket_table {margin: 0;}
.order_popup .basket_table th.col_qty {width: 111px;}
.order_popup .basket_table th.col_price {width: 70px;}
.order_popup .basket_table th.col_sum {width: 65px;}
.order_popup .basket_table td.col_qty {width: 75px;}
.order_popup .basket_table td.col_price {text-align: right;width: 60px;}
.order_popup .basket_table td.col_sum {padding-right: 8px;width: 76px;text-align: right;}

.order_popup .summary {line-height: 30px;text-align: right;font-size: 26px;}

.order_popup_bonuses {
	margin: 0;
	padding: 19px 0 27px 30px;
	background: #efedcf;
}

.order_popup_bonuses h4 {margin-right: 30px;text-align: center;}
.order_popup_bonuses ul {margin-top: 23px;}
.order_popup_bonuses ul li {margin: 0 10px 0 0;width: 187px;line-height: 16px;}

.delivery_popup {

	z-index: 9999;
}

.delivery_popup .block_inner {padding: 15px 28px 8px;}
.delivery_popup h4 {
	margin: 13px 0 15px 0;
	line-height: 30px;
	font-size: 26px;
	font-weight: bold;
}
.delivery_popup p {
	margin-top: 3px;
	margin-bottom: 20px;
	line-height: 22px;
}

.prod_popup .block_inner {padding: 30px 50px 27px 30px;}
.prod_popup .pic {display: block;margin: 0 0 16px;}
.prod_popup .title {display: block;margin: 0 0 4px;max-width: 245px;line-height: 24px;font-size: 22px;font-weight: bold;}
.prod_popup .prod_info {margin: 0 0 14px;color: #737373;}
.prod_popup .composition {margin-bottom: 0;}

.auth_popup {font-size: 16px; z-index: 9999}
.auth_popup .block_inner {padding: 25px 28px 11px;min-height: 323px;}
.auth_popup h4 {margin-bottom: 28px;line-height: 30px;font-size: 26px;font-weight: bold;}
.auth_form {margin: 0;}
.auth_form table td {vertical-align: top;padding: 0 20px 19px 0;line-height: 22px;font-size: 16px;}
.auth_form table td.label {padding-top: 8px;font-size: 22px;white-space: nowrap;}
.auth_form .form_text {margin: -5px 0 0 10px;line-height: 22px;}
.reg_popup .form_text {margin: -9px 0 39px 0;line-height: 22px;}
.auth_form dl dt {clear: left;float: left;margin: 7px 10px 0 0;width: 191px;line-height: 24px;font-size: 22px;}
.auth_form dl dd {float: left;margin: 0 0 18px;width: 360px;}
.auth_form .stext {margin: 0 8px 3px 0;height: 36px;width: 189px;line-height: 36px;}
.auth_form .restore_pass {font-size: 14px;}
.auth_form .errors_block {margin: 12px 0 17px;}
.auth_form .btn_big {margin: 19px 0 0;width: 198px;}
.reg_popup .auth_form .btn_big {margin-top: -2px;}

/************ FOOTER ****************/

#skypedetectionswf {width: 0 !important;height: 0 !important;}

.footer {
	/*position:relative;
	*/
	margin-top: 50px;
	height:298px;
	background: #353535;
	font-size: 16px;
	color: #fff;
}

div.footer_in {
	/*position:relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height:298px;*/
	
}

div.footer_in a {color: #fff;}

.f_delivery {
	position:absolute;
	top: 39px;
	left: 25px;
	font-size: 18px;
}

.f_delivery .phone {display: block;margin: 5px 0 42px;font-size: 26px;font-weight: bold;}
.f_delivery .pic {display: block;margin-left: -18px;}

.f_text {
	position:absolute;
	top: 38px;
	left: 357px;
	width: 610px;
	line-height: 20px;
	font-size: 12px;
}

.f_text p {margin-bottom: 6px;}

div.copy {
	position:absolute;
	top: 187px;
	left: 372px;
	line-height: 24px;
}

div.copy .copy_row {display: inline-block;margin-left: -15px;}

.f_social {
	position: absolute;
	top: 197px;
	right: 15px;
}

.f_social a {float: left;margin-left: 34px;text-align: center;font-size: 10px;color: #cfcfcf;text-decoration: none;}
.f_social a img {display: block;margin: 0 auto 3px;}

div.counter {
	position:absolute;
	top: 42px;
	right: 23px;
}

div.created {
	position:absolute;
	top: 86px;
	right: 83px;
	line-height: 13px;
	text-align: right;
}

div.created img {vertical-align: -9px;}

/************ LITTLE_HELPERS ****************/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix { display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix { height: 1%;}

.break {clear: both; line-height: 0 !important; font-size: 0 !important; height: 0 !important;}


/*updates*/
.discount-links-container{
    margin-top: 50px;
    margin-bottom: 66px;
}
.discount-link-item {
    float: left;
    background-color: #ffffff;
    height: 123px;
    width: 293px;
    margin-right: 40px;
}
.no-margin-right{
    margin-right: 0!important;
}

.windows {
	z-index: 99999;
}

a {
	cursor: pointer;
}


/*static-banner*/
.banner-static{
  position:relative;
  text-align:center;
  background:url("../pix/ny-banner.jpg") no-repeat top center;
  height:497px
}
.banner-static-info{
  color: white;
  position: absolute;
  top: 263px;
  left: 8px;
}
.banner-static-info a{
  color:white;
  text-decoration:underline;
}
.banner-static-info a:hover{
  text-decoration:none;
}
/*static-banner*/


/*update n1_*/
.n1_info-message{
  padding: 1px 1px 1px 42px;
  margin: 1px 0 32px 0;
  font: 14px/16px Arial, Helvetica, sans-serif;
  color: #e26a12;
  min-height: 39px;
  background: url("../pix/n1_info-message.png") no-repeat 1px 5px;
  letter-spacing: -0.05px;
}
.n1_info-message a{
  color:#e26a12;
}
.center .content .n1_info-message p{
  margin:3px 0 4px;
}
.n1_buy_block-old-price {
  float: left;
  margin: 0 9px 0 0;
  padding: 1px 0 2px 0;
  font-size: 26px;
  font-weight: normal;
  position:relative;
}
.n1_buy_block-old-price:after{
  content: "";
  position: absolute;
  top: 11px;
  left: -1px;
  height: 1px;
  background: #fff;
  right: -2px;
}
/*update n1_*/


/*green-legend*/
.discount-links-container {
  margin-bottom: 35px;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:500&subset=latin,cyrillic-ext);
.green-legend{
  position: relative;
  margin: 10px auto 56px;
  height: 103px;
  width: 999px;
  padding: 30px 0 0;
  background-image: url("../pix/green-legend.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.green-legend:before,
.green-legend:after{
  content:"";
  display:table;
}
.green-legend:after{
  clear:both;
}
.green-legend-item{
  float:left;
  margin:10px 5px 0;
  position:relative;
  width: 296px;
}
.green-legend-item:before,
.green-legend-item:after{
  content:"";
  display:table;
}
.green-legend-item:after{
  clear:both;
}
.green-legend-item-image{
  float:left;
  margin:2px 0 0 1px;
}
.green-legend-item-text{
  color: white;
  font-weight: 500;
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  width: 181px;
  float: right;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.green-legend-item.green-legend-item-1 {
  width: 236px;
  margin: 10px 5px 0 100px;
}
.green-legend-item.green-legend-item-2 {
  width: 242px;
  margin: 10px 5px 0 98px;
}
.green-legend-item.green-legend-item-2 .green-legend-item-image {
  margin: 0 0 0 1px;
}
.green-legend-item.green-legend-item-3 {
  width: 206px;
  margin: 10px 5px 0 64px;
}
.green-legend-item.green-legend-item-3 .green-legend-item-text {
  width: 154px;
}
/*green-legend*/


/*banner-static-real-img*/
.banner-static.banner-static-real-img{
  background-image:none;
  position:relative;
  overflow:hidden;
}
.banner-static-real-image{
  margin:0 -100%;
  text-align:center;
}
.banner-static.banner-static-real-img .container{
  margin-top:-63px;
  text-align:left;
}
.banner-static-real-img-btn{
  background-image: url("../pix/banner-static-real-img-btn.png");
  background-repeat: no-repeat;
  background-position: 1px 1px;
  padding: 1px 1px 1px 35px;
  color: white;
  font-weight: 500;
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.6px;
  min-height: 24px;
  text-decoration: none;
}
.banner-static-real-img-btn span{
  position:relative;
  display:inline-block;
}
.banner-static-real-img-btn span:before{
  content:"";
  height:1px;
  width:100%;
  display:block;
  bottom: 0;
  left:0;
  position:absolute;
  background:white;
}
.banner-static-real-img-btn:hover{
  text-decoration:none;
  color:white;
}
.banner-static-real-img-btn:hover span:before{
  display:none;
}
.banner-static.banner-static-real-img .banner-static-real-img-btn{
  margin-left:67px;
}
/*banner-static-real-img*/


/*double-pizza-slide*/
.double-banner-price-left,
.double-banner-price-right,
.double-banner-price-phone{
  margin-top:-74px;
  color:white;
  font-family: 'Roboto',sans-serif;
}
.double-banner-price-left{
  float:left;
  margin-left:96px;
}
.double-banner-price-right{
  float:left;
  margin-left:30px;
}
.double-banner-price-phone {  
  float: right;
  /*margin-right: -300px;*/
}
.double-banner-price-sm-name{
  margin-bottom:3px;
  font-size:20px;
  line-height: 20px;
}
.double-banner-price-lg-name{
  margin-bottom:14px;
  font-size:36px;
  line-height: 36px;
}
.double-banner-price-wrap a,
.banner-static.banner-static-real-img .double-banner-price-wrap .banner-static-real-img-btn{
  background-color:#507116;
  display:inline-block;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  margin-left: 0;
  padding: 9px 19px 9px 53px;
}
.double-banner-price-wrap .banner-static-real-img-btn{
  background-position:19px 8px;
}
.double-banner-price-wrap a:hover,
.banner-static.banner-static-real-img .double-banner-price-wrap .banner-static-real-img-btn:hover{
  background-color:#567a18;
}
.double-banner-price-wrap a:active{
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

a:hover, a:focus  {
	color: white;
}
/*double-pizza-slide*/

.numeration {
  height: 30px;
  width: 35px;
  border-radius: 50%;
  background: red;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding-top: 5px;
  display: inline-block;
  margin: 5px 5px 0 0;
}

.double-banner-price-phone a {
  text-decoration: none;
  color: #fff;
  background: #ee2d24;
  padding: 14px;
}

.double-banner-price-phone
.double-banner-price-sm-name {
  background: #ee2d24;
  padding: 0 0 14px 14px;
}

.shadowed {
  -webkit-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.6);-moz-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.6);box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.6);
}